{
  "plugins": ["prettier-plugin-svelte"],
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "trailingComma": "none",
  "svelteIndentScriptAndStyle": true
}
