$primary-color: #3498db;
$primary-color-accent: #3286be;
$primary-color-active: #2a72a3;
$warning-color: #e5c544;
$danger-color: #e32a2a;
$default-color: #ffffff;
$default-color-accent: #eeeeee;
$default-color-active: #cacaca;