$primary-color: #3498db;
$primary-color-accent: #3286be;
$primary-color-active: #2a72a3;
$primary-color-dark: #2c3e50;
$primary-color-dark-accent: #2a72a3;
$primary-color-dark-active: #3286be;
$warning-color: #e5c544;
$warning-color-accent: #d9b43b;
$warning-color-active: #cda22f;
$danger-color: #e32a2a;
$danger-color-accent: #d32626;
$danger-color-active: #c42222;
$success-color: #1abc9c;
$success-color-accent: #17a085;
$success-color-active: #14866d;
$default-color: #ffffff;
$default-color-accent: #eeeeee;
$default-color-active: #cacaca;
